@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;

  --color-primary-100: #f7f7f7;
  --color-primary-200: #e4e4e4;
  --color-primary-250: #f8f8f8;
  --color-primary-300: #eff0f6;
  --color-primary-325: rgba(228, 228, 228, 0.3);
  --color-primary-350: #bbbbbb;
  --color-primary-400: #b2b3bd;
  --color-primary-500: #808191;
  --color-primary-600: #6e7191;
  --color-primary-700: #242c37;
  --color-primary-750: #1f262f;
  --color-primary-800: #11142d;
  --color-primary-900: #14142b;
  --color-blue-50: #afd5ff;
  --color-blue-100: #879eed;
  --color-blue-200: #569aff;
  --color-blue-300: #3f8cff;
  --color-blue-400: #367de6;
  --color-blue-500: #2d70d5;
  --color-blue-600: #5f75ee;
  --color-orange-100: #ffe2ac;
  --color-orange-400: #fa8b72;
  --color-orange-500: #ff7c5d;
  --color-orange-600: #fe764a;
  --color-green-400: #7fba7a;
  --color-red: #fd4d4d;
  --color-red-hover: #fd6868;
  --color-red-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
  --color-shadow-100: rgba(0, 0, 0, 0.1);
  --color-shadow-200: rgba(0, 0, 0, 0.2);
}

html,
body,
#__next {
  background-color: var(--color-primary-100);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  overflow-y: auto;
}

button:focus {
  outline: none;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--color-orange-500) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-orange-500), 0 0 5px var(--color-orange-500) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--color-orange-500) !important;
  border-left-color: var(--color-orange-500) !important;
}

.shadow-effect {
  z-index: 4;
  position: relative;
}

.shadow-effect > .se-1 {
  z-index: 5;
}

.shadow-effect .se-2,
.shadow-effect .se-3 {
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.shadow-effect .se-2 {
  z-index: 4;
  width: calc(100% - 20px);
  bottom: -10px;
}

.shadow-effect .se-3 {
  z-index: 3;
  width: calc(100% - 46px);
  opacity: 0.4;
  bottom: -20px;
}

.ReactModal__Content {
  overflow: visible !important;
}
